#form{
    margin-top:6rem;
    height:80vh;

    & h3{
        color:$tertiary-color;
        font-size: 2rem;
    }

    input[type="text"],input[type="number"],input[type="email"]{
        padding:12px 100px 12px 12px;
        margin:0.4rem;
                
    }
    input[type="radio"]{
        padding:4rem;
        margin:0.4rem;
    }
    label{
        font-size:1.4rem;
        padding-left:1rem;
    }

    & .my-form{
        margin:10rem auto;
        width:50%;
        background-color: rgba($primary-color,0.7);
        text-align:center;
        padding-top: 1rem;
    }

}
